---
// import { SITE } from "@config";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Book from "@components/Book.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import AboutNav from "@components/AboutNav.astro";
---

<Layout>
  <Header activeNav="about" />
  <AboutNav activeSub="library" />
  <Breadcrumbs />
  <main id="main-content">
    <!-- <section id="book-library" class="prose mb-28 max-w-3xl prose-img:border-0"> -->
    <!-- class="mb-28 ml-[120px] mr-[120px] w-3/4 items-center prose-img:border-0" -->
    <section
      id="book-library"
      class="prose mb-28 max-w-5xl items-center prose-img:border-0"
    >
      <!-- <h1 class="text-2xl tracking-wider sm:text-3xl">On the bookshelf</h1> -->
      
      <h2>On the bookshelf</h2>
      <div class="bookshelf">
        <Book
          title="The Bhagavad Gita"
          ,
          author="Eknath Easwaran"
          ,
          img="https://m.media-amazon.com/images/I/41tIqNDvsDS._SX307_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/The-Bhagavad-Gita-Eknath-Easwaran-audiobook/dp/B00TGA3HGO/ref=sr_1_1?crid=3NPDQV3VYLBFG&keywords=the+bhagavad+gita&qid=1692984203&s=books&sprefix=the+bhagavag%2Cstripbooks%2C91&sr=1-1"
          target="_blank"
        />
        <Book
          title="The Blue Zones Cookbook"
          ,
          author="Dan Buettner"
          ,
          img="https://m.media-amazon.com/images/I/915nQzjsMIL.jpg"
          ,
          href="https://www.amazon.com/Blue-Zones-American-Kitchen-Recipes/dp/1426222475/ref=sr_1_1?crid=3NCFQHVIXAML9&keywords=blue+zones+cookbook&qid=1693834442&s=books&sprefix=blue+zone%2Cstripbooks%2C253&sr=1-1"
          target="_blank"
        />

        <Book
          title="Automate the Boring Stuff with Python"
          ,
          author="Al Sweigart"
          ,
          img="https://m.media-amazon.com/images/I/51B161E04DL._SX375_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Automate-Boring-Stuff-Python-2nd/dp/1593279922/ref=sr_1_6?keywords=Python&qid=1692985496&s=books&sr=1-6"
          target="_blank"
        />
        <Book
          title="The Ransomware Hunting Team 🎧"
          ,
          author="Renee Dudley"
          ,
          img="https://m.media-amazon.com/images/I/51--x8JKaxL._SX322_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Ransomware-Hunting-Team-Improbable-Cybercrime/dp/125087260X/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1692986497&sr=1-1"
          target="_blank"
        />
        <Book
          title="Practical SQL, 2nd Edition"
          ,
          author="Anthony DeBarros"
          ,
          img="https://m.media-amazon.com/images/I/51z6o9WG-1L._SX376_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Practical-SQL-2nd-Beginners-Storytelling/dp/1718501064/ref=sr_1_1?keywords=Practical+SQL&qid=1692985657&s=books&sr=1-1"
          target="_blank"
        />
        <Book
          title="Mindf*ck 🎧"
          ,
          author="Christopher Wylie"
          ,
          img="https://m.media-amazon.com/images/I/411t+gfdxGL._SX325_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Mindf-ck/dp/1788165004"
          target="_blank"
        />
        <Book
          title="The Club: ..."
          ,
          author="Joshua Robinson & Jonathan Clegg"
          ,
          img="https://m.media-amazon.com/images/I/41uNKGyfM0L._SX330_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Club-English-Premier-Wildest-Disruptive/dp/0358213053/ref=asc_df_0358213053/?tag=hyprod-20&linkCode=df0&hvadid=366289401820&hvpos=&hvnetw=g&hvrand=4380987740227661232&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9010524&hvtargid=pla-815438317800&psc=1&tag=&ref=&adgrpid=79033899831&hvpone=&hvptwo=&hvadid=366289401820&hvpos=&hvnetw=g&hvrand=4380987740227661232&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9010524&hvtargid=pla-815438317800"
          target="_blank"
        />
        <Book
          title="The Dream Machine 🎧"
          ,
          author="M. Mitchell Waldrop"
          ,
          img="https://m.media-amazon.com/images/I/41OKEFgt20L._SX336_BO1,204,203,200_.jpg"
          ,
          href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119/ref=sr_1_1?crid=3VBJDBXN7N1SN&keywords=The+Dream+Machine&qid=1692986319&s=books&sprefix=the+dream+machine%2Cstripbooks%2C102&sr=1-1"
          target="_blank"
        />
        <Book
          title="Pegasus 🎧"
          ,
          author="Laurent Richard and Sandrine Rigaud"
          ,
          img="https://m.media-amazon.com/images/I/51vXzEadR0L.jpg"
          ,
          href="https://www.amazon.com/Pegasus-Threatens-Privacy-Dignity-Democracy/dp/B09QBD91KX/ref=sr_1_1?keywords=pegasus+book&qid=1693832402&s=books&sprefix=pegasus%2Cstripbooks%2C119&sr=1-1"
          target="_blank"
        />
        <Book
          title="Permanent Record 🎧"
          ,
          author="Edward Snowden"
          ,
          img="https://m.media-amazon.com/images/I/91GgFOOnD+L._AC_UF1000,1000_QL80_.jpg"
          ,
          href="https://www.amazon.com/Permanent-Record-Edward-Snowden-audiobook/dp/B07VZWH6NB/ref=sr_1_1?crid=34KP693LBB94J&keywords=permanent+record&qid=1693832903&s=audible&sprefix=permanent+record%2Caudible%2C81&sr=1-1"
          target="_blank"
        />

        <Book
          title="Tracers in the Dark 🎧"
          ,
          author="Andy Greenberg"
          ,
          img="https://m.media-amazon.com/images/I/71ifCS8ZjLL._AC_UF1000,1000_QL80_.jpg"
          ,
          href="https://www.amazon.com/Tracers-Dark-Global-Crime-Cryptocurrency/dp/B09VLJ2WWD/ref=sr_1_1?crid=165BP0LBTN6GL&keywords=tracers+in+the+dark&qid=1693832599&s=audible&sprefix=tracers+in+the+dark%2Caudible%2C118&sr=1-1"
          target="_blank"
        />
        <Book
          title="Sandworm 🎧"
          ,
          author="Andy Greenberg"
          ,
          img="https://m.media-amazon.com/images/I/A1Asn5FZ-aL._AC_UF1000,1000_QL80_.jpg"
          ,
          href="https://www.amazon.com/Sandworm-Andy-Greenberg-audiobook/dp/B07RGRTZM6/ref=sr_1_2?crid=165BP0LBTN6GL&keywords=tracers+in+the+dark&qid=1693832599&s=audible&sprefix=tracers+in+the+dark%2Caudible%2C118&sr=1-2"
          target="_blank"
        />
      </div>
      <p class="text-sm">
        Curious about how I made this library? Ask <a
          href="https://daverupert.com/"
          target="_blank">Dave Rupert</a
        > - since I took the whole idea from his page. Let's call it a Homage as
        it sounds more respectable than Plagiarism. Also his looks much better. His
        is the Amazon version, mine is the AliExpress Version.
      </p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  .bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.5em, 1fr));
    background: #ddd;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid;
    /* width: 1000px; */
    /* max-width: calc(100% - 40px); */
    
    box-shadow: 1px 1px, 2px 2px, 3px 3px, 4px 4px;
  }
</style>
