---
import { SITE } from "@config";

import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

import Breadcrumbs from "@components/Breadcrumbs.astro";
import AboutNav from "@components/AboutNav.astro";
import Song from "@components/Song.astro";
---

<Layout>
  <Header activeNav="about" />
  <AboutNav activeSub="playlists" />
  <Breadcrumbs />
  <main id="main-content">
    <section
      id="playlists"
      class="mb-28 ml-[120px] mr-[120px] prose-img:border-0"
    >
      <h1 class="text-2xl tracking-wider sm:text-3xl">Playlists I enjoy</h1>
      <div class="playlist-holder">
        <div class="playlist">
          <h2>Time to Run with Scott</h2>
          <div class="songs">
            <Song
              title="Thunder"
              ,
              artist="Imagine Dragons"
              ,
              img="/assets/Imagine_Dragons_Thunder.jpg"
            />
            <Song
              title="Two High"
              ,
              artist="Moon Taxi"
              ,
              img="/assets/Moon_Taxi_Two_High.jpg"
            />
            <Song
              title="BOOM"
              ,
              artist="X Ambassadors"
              ,
              img="/assets/X_Ambassadors_Boom.jpeg"
            />
            <Song
              title="Adventure of a Lifetime"
              ,
              artist="Coldplay"
              ,
              img="/assets/Coldplay_Lifetime.jpg"
            />
            <Song
              title="Midnight Sky"
              ,
              artist="Miley Cyrus"
              ,
              img="/assets/Miley_Cyrus_Midnight_Sky.png"
            />
            <Song
              title="Counting Stars"
              ,
              artist="OneRepublic"
              ,
              img="/assets/OneRepublic_Counting_Stars.png"
            />
            <Song
              title="So What"
              ,
              artist="Pink"
              ,
              img="/assets/Pink_So_What.jpg"
            />
            <Song
              title="Shake it Out"
              ,
              artist="Florence + the Machine"
              ,
              img="/assets/Shake_it_Out.png"
            />
          </div>
          <p>This is playlist from Apple Fitness. Great for a half-hour run!</p>
        </div>
      </div>
      <hr class="my-12" />
      <div class="playlist-holder">
        <div class="playlist">
          <h2>Decreasing my 5k time</h2>
          <div class="songs">
            <Song
              title="Sandstorm"
              ,
              artist="Darude"
              ,
              img="/assets/Darude_Sandstorm.jpg"
            />
            <Song
              title="Right Here, Right Now"
              ,
              artist="Fatboy Slim"
              ,
              img="/assets/Fatboy_Slim_Right_Here_Right_Now.jpg"
            />
          </div>
          <p>I just play these two songs on loop over and over.</p>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>
<style>
  /* .playlist-holder {
    display: flex;
  } */
  .songs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10.5em, 1fr));
  }
  .song {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(7.5em, 1fr)); */
    display: flex;
    gap: 15px;
  }
</style>
