<div>
  <p>
    I am <mark>Jon</mark>. I am a father, husband, brother, friend, runner,
    video game player, web developer, and much more. I am also someone who has
    struggled with weight loss, keeping the weight off, and portion control. I
    am in my mid 40's with an adult-child (wait that doesn't sound right) and
    two young children under the age of 7 (as of this writing).
  </p>
  <p>
    As I have aged I have realized that eating bacon, eggs, and cheese every day
    (low-carb diet) as a way to stay trim(ish) was not a healthy, long term,
    plan that ends with me meeting my grandchildren. As such, my research lead
    me land upon, not a diet, but more a set of guideline for eating called <a
      href="https://www.bluezones.com/"
      target="_blank"
      class="blue-mark"
      >The Blue Zones.
    </a>
  </p>
  <p>
    I started the blog around the same time I decided I needed to change the way
    I eat and think about food. My hope is to document my journey - the good and
    the bad - and making it available to anyone else who might find value in it.
  </p>
  <p>
    I have found the Blue Zones is great as a set of guidelines and ideas on how
    to approach eating for long term health. Ulitmately this lead to my decision
    to apply these basic concepts to veganism (I don't like ism's generally
    speaking) and have found this is working well for me.
  </p>
  <p>
    If you are interested in other topics I here are some links to some of my
    other sites. This is anything that could not be stuck in a neat icon in the
    footer.
  </p>
  <table>
    <thead>
      <tr><th>What</th><th>Description</th><th>&#128279;</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>My Resume</td>
        <td
          >I attempted to make it look as much like a native Word Document as
          possible - soley for the fun of it. This was made using Svelte.</td
        >
        <td>
          <a href="https://resume.jonellwood.dev" target="_blank">Link</a>
        </td>
      </tr>
      <tr>
        <td>Projects</td>
        <td
          >This is a little Svelte page I put together when learning Svelte. I
          keep it almost 100% becuase I like the 3D effect of the cloud
          background and the font and color changing feature.</td
        >
        <td
          ><a href="https://projects.jonellwood.dev" target="_blank">Link</a
          ></td
        >
      </tr>
    </tbody>
  </table>
</div>

<style>
  .blue-mark {
    background-color: #0000ff80;
  }
  td {
    padding-right: 10px !important;
  }
</style>
