---
export interface Props {
  centered?: boolean;
  type: string;
  date: string;
  duration: string;
  distance: string;
  weather: string;
}
const {
  // centered = false,
  // type,
  date,
  duration,
  distance,
  weather,
} = Astro.props;
---

<!-- <div class={`workout ${centered ? "flex" : ""}`}>
  <table class="info">
    <caption>&#127939; Running Workouts</caption>
    <thead>
      <tr>
        <th>Date</th><th>Duration</th><th>Distance</th><th>Weather</th>
      </tr>
    </thead>
    <tbody> -->
<tr>
  <td>{date}</td>
  <td>{duration}</td>
  <td>{distance}</td>
  <td>{weather}</td>
</tr>
<!-- </tbody>
  </table>
</div> -->
