---
export interface Props {
  centered?: boolean;
  type: string;
  date: string;
  duration: string;
  distance: string;
  weather: string;
}
const {
  // centered = false,
  // type,
  date,
  duration,
  distance,
  weather,
} = Astro.props;
---


<tr>
  <td>{date}</td>
  <td>{duration}</td>
  <td>{distance}</td>
  <td>{weather}</td>
</tr>

